<%= component "hero" do %>
  <h1 class="text-5xl font-bold">Hello there</h1>
  <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
  <%= component("ui/button", "Get Started", url: new_user_session_path) %>
<% end %>
