<div class="card bg-white shadow-xl">
  <div class="card-body">
    <% if title %>
      <h2 class="card-title"><%= title %></h2>
    <% end %>

    <%= content %>

    <% if actions? %>
      <div class="card-actions mt-6 flex justify-end gap-3">
        <%= actions %>
      </div>
    <% end %>
  </div>
</div>
